.quality {
  padding: 120px 0 140px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h1 {
  font-size: 36px;
  color: var(--secondary-color);
  margin-bottom: 30px;
  font-weight: 800;
}

.title p {
  width: 960px;
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 39.5px;
  letter-spacing: 0.2px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 116px;
  row-gap: 90px;
  margin-top: 90px;
}

.cards div {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards h2 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.cards p {
  width: 270px;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}

@media (max-width: 1280px) {
  .quality {
    padding-right: 82px;
    padding-left: 82px;
  }

  .title p {
    width: auto;
  }

  .cards {
    column-gap: 36px;
  }
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .title p {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .quality {
    padding-top: 48px;
    padding-bottom: 64px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .title h1 {
    font-size: 28px;
  }

  .title p {
    font-size: 18px;
    line-height: 26.5px;
    letter-spacing: 0.2px;
  }
}

@media (max-width: 640px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 50px;
  }

  .title p {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }
}
